<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "IS.Ip" value="localhost"/>
    <add key = "IS.Port" value="5001"/>

    <add key="Api.Identifier" value="AD"/>
    <add key="Client.Identifier" value="yourapp"/>
    <add key="Client.Secret" value="changeMe"/>
  </appSettings>
</configuration>
