<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AD.Domain" value="ww.ad"/>
    
    <add key="Api.Identifier" value="AD"/>
    <add key="Api.Secret" value="changeMe"/>
    <add key="Client.Identifier" value="yourapp"/>
    <add key="Client.Secret" value="changeMe"/>

    <add key="IS.Ip" value="localhost"/>
    <add key="IS.Port" value="5001"/>
  </appSettings>
</configuration>